<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Tel company</title>
    <link type="text/css" rel="stylesheet" href="/css/style.css">
</head>
<body>
	<div class="align">
		Admin.
		<br><br>
		<a href = "/" >Выйти</a>
		<br><br>
		<a href = "/admin_userdelete">Удалить клиента</a>
		<br><br>
		<a href = "/admin_managercreate">Добавить сотрудника</a>
		<br><br>
		<a href = "/admin_reviews">Последние отзывы</a>
		<br><br>
		<a href = "/admin_best">Лучшие сотрудники</a>
		<br><br>
		<a href = "/admin_report">Отчёт по сотруднику</a>
	</div>
</body>
</html>