<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>TelComp</title>
</head>
<body>
	<form method="post">
		<input type="text" name="text">
		<button type="submit">Submit</button>
	</form>
</body>
</html>