<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Tel company</title>
</head>
<body>
	<a href = "/user_reg">Регистрация</a>
	<br><br>
	<a href = "/user_reg">Авторизация</a>
</body>
</html>