<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Tel company</title>
	<link type="text/css" rel="stylesheet" href="/css/style.css">
</head>
<body>
	<form method="post" name="checkForm">
		<a href = "/manager_cabinet">Назад</a>
    	<br><br>
		Номер телефона клиента:
		<br><br>
		<input type="text" name="number" pattern="[0-9]{7}" required title="Номер состоит из 7 цифр">
		<br><br>
		<button type="submit" id="submit">Проверка</button>
		<br>
		<div>
			<% if(user){ %>
				<br>
				ФИО: <br>
				<%=user.name %>
				<br><br>
				Номер телефона: <br>
				<%=user.number %>
				<br><br>
				Электронная почта: <br>
				<%=user.mail %>
				<br><br>
				Баланс: <br>
				<%=user.balance %><br>
	  		<% } else{ %>
		  		<br>
		  		Нет данных
		  	<% } %>
		</div>
	</form>
</body>
</html>