<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Tel company</title>
    <link type="text/css" rel="stylesheet" href="/css/style.css">
</head>
<body>
	<div class="align">
		Личный кабинет менеджера.
		<br><br>
		<a href = "/" >Выйти</a>
		<br><br>
		<a href = "/manager_check">Информация о клиенте</a>
		<br><br>
		<a href = "/manager_change">Изменить ФИО клиента</a>
		<br><br>
		<a href = "/manager_bonus">Начислить бонусы</a>
		<br><br>
		<a href = "/manager_list">Потенциальные клиенты</a>
		<br><br>
		<a href = "/manager_order">Подтверждение заявок</a>
	</div class="align">
</body>
</html>