<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Tel company</title>
	<link type="text/css" rel="stylesheet" href="/css/style.css">
</head>
<body>
	<form method="post" name="regForm">
		<a href = "/user_cabinet">Назад</a>
    	<br><br>
		<div>
			ФИО<br>
			<input type="text" name="name" pattern="[А-Я]{1}[а-я]+ [А-Я]{1}[а-я]+ [А-Я]{1}[а-я]+" required title="Пример: Иванов Иван Иванович"> 
		</div>
		<br>
		<div>
			Номер телефона<br>
			<input type="text" name="number" pattern="[0-9]{7}" required title="Номер состоит из 7 цифр">
		</div>
		<br>
		<div>
			Пароль<br>
			<input type="text" name="password" pattern="(?=.*\d)(?=.*[a-z]).{8,}" required title="Длина пароля >=8, должен содержать 1 букву или 1 цифру">
		</div>
		<br>
		<div>
			<button type="submit" id="submit">Регистрация</button>
		</div>
	</form>
	<script src="/js/user_reg.js"></script>
</body>
</html>