<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Tel company</title>
</head>
<body>
	<form method="post">
		Номер телефона
		<br>
		<input type="text" name="number">
		<br><br>
		Пароль
		<br>
		<input type="text" name="password">
		<br><br>
		<button type="submit">Авторизация</button>
	</form>
</body>
</html>