<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Tel company</title>
</head>
<body>
	<form method="post">
		Текущая почта:
		<br>
		<%= user.mail %>
		<br>
		<input type="text" name="mail">
		<br><br>
		<button type="submit">Указать почту</button>
	</form>
</body>
</html>