<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Tel company</title>
    <link type="text/css" rel="stylesheet" href="/css/style.css">
</head>
<body>
	<form method="post" name="reviewForm">
		Номер телефона менеджера
		<br>
		<input type="text" name="managerNumber">
		<br><br>
		Отзыв
		<br>
		<input type="text" name="reviewText">
		<br><br>
		Оценка от 1 до 5
		<br>
		<input type="text" name="rating">
		<br><br>
		<button type="submit" id="submit">Отправить отзыв</button>
	</form>
    <script src="/js/script_review.js"></script>
</body>
</html>