<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Tel company</title>
	<link type="text/css" rel="stylesheet" href="/css/style.css">
</head>
<body>
	<div class="align">
		<%=name%>
		<br><br>
		<a href = "/">Выйти</a>
		<br><br>
		<a href = "/user_mail">Почта для уведомлений</a>
		<br><br>
		<a href = "/user_review">Оставить отзыв</a>
		<br><br>
		<a href = "/user_potential">Заказать услугу</a>
		<br><br>
		<a href = "/user_pay">Оплата</a>
	</div class="align">
</body>
</html>