<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Tel company</title>
</head>
<body>
	<form method="post" name="serviceForm">
		Подтвержденные заявки:
		<br>
		<% if(service.confirmed.length !== 0){ %>
			<%for (let current in service.confirmed){%>
 				<input type="checkbox" name="answer" value="<%= service.confirmed[current] %>"> <%= service.confirmed[current] %><br>
  			<%}%>
  			Баланс: <%=balance%>
  			<br><br>
  			Сумма: <span id="sum">0</span>
  			<script type="text/javascript" src="/js/script_sumpay.js"></script>
  			<br><br>
			<button type="submit" id="submit">Оплатить</button>
  		<% } else{ %>
  			-нет подтвержденных заявок
  			<br>
  			Баланс: <%=balance%>
  		<% } %>
  		<script src="/js/script_pay.js"></script>
	</form>
</body>
</html>